body {
    margin: 20px;
}

.container div {
    width: 20px;
    height: 20px;
    background-color: blue;
    margin: 5px;
}

.container {
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    border: 2px solid gray;
}

.red {
    background: red;
}